@{
    ViewData["Title"] = "Bean Scene";
}

<div class="text-center home-content content-container container-center">
    <div class="reg-center welcome-bg col-5 h-50">
        <h1 class="welcome mb-0">Welcome</h1>
        <h2 class="welcome-text">to Bean Scene</h2>
        <div class="d-flex justify-content-center mt-4">
            <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-primary col-3 align-self-center me-1">Register</a>
            <a asp-area="" asp-controller="Reservation" asp-action="Create" class="btn btn-primary col-3 align-self-center ms-1">Book Now</a>
        </div>
    </div>
</div>
