<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bean Scene</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Leckerli+One">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Norican">
    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-0 border-bottom-0">
            <div class="container-fluid mx-5 px-5">
                <a class="navbar-brand py-0" asp-area="" asp-controller="Home" asp-action="Index">Bean Scene</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item mx-2">
                            <a class="nav-link navs text-light" asp-area="Admin" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link navs text-light" asp-area="Admin" asp-controller="Reservation" asp-action="">Reservations</a>
                        </li>
                        @if (User.IsInRole("Manager"))
                        {
                            <li class="nav-item mx-2">
                                <a class="nav-link navs text-light" asp-area="Admin" asp-controller="Sitting" asp-action="">Sittings and Areas</a>
                            </li>
                            <li class="nav-item mx-2">
                                <a class="nav-link navs text-light" asp-area="Admin" asp-controller="Employee" asp-action="">Employees</a>
                            </li>
                            <li class="nav-item mx-2">
                                <a class="nav-link navs text-light" asp-area="Admin" asp-controller="Report" asp-action="">Reports</a>
                            </li>
                        }
                        <partial name="_LoginPartial" />
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid content-container mx-0 px-0">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="footer bg-dark text-muted">
        <div class="container">
            &copy; 2021 - ReservationSystemProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
